@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    max-width: 700px;
}

img {
    border-radius: 10px;
}

#introduction {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
}

#introduction img {
    display: block;
    margin-right: 10px;
}

#introduction span {
    font-family: 'Kalam', cursive;
    font-size: 25px;
}

table {
    margin: auto;
}

th, td {
    border-radius: 5px;
    padding: 5px;
}

th {
    border-bottom: 2px solid #b93131;
}

td {
    border-bottom: 1px solid #2d2d2d;
}

td {
    text-align: center;
}

.time {
    background-color: #b93131;
    padding: 1px;
    margin: 1px;
}

.deathstar {
    /* 2 second transition */
    transition: background-color 2s;
    -webkit-transition: background-color 2s;
    -moz-transition: background-color 2s;
    -o-transition: background-color 2s;
    -ms-transition: background-color 2s;
}

.deathstar.shiny {
    background-color: #50ad50;
}
